
body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

pre {
  background: #e0e0e0;
  border:     1px solid #ddd;
}

hr {
  background: #D82925;
  color:      #D82925;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header .title { 
  font-size: 3em; 
  line-height: 1; 
  margin: 0.5em 0 0.25em 0; }
#header a { 
  text-decoration: none;
  color: #333;
} 

.box {
  background: #FFF3CF;
  margin: 10px 0 10px 0;
  padding: 5px 15px 5px 15px;
  border: 1px solid #FC0;
}

.box p{
  padding: 0;
  margin: 5px 0 5px 0;
}

.pagination {
  text-align: right;
  padding: 5px;
  margin: 5px;  
}

/* EOF */
